<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a
    style="font-size: 33px; color: white"
    class="navbar-brand ml-3 fas fa-hand-holding-medical"
    href="#"
  ></a>
</nav>

<!-- Home Section -->
<section id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2 class="titleClass">COVID 19 Statistics and Chatbot</h2>
        <br />
        <h4><span style="color: red">LIVE</span> data for India ➯</h4>
      </div>
      <div class="col-sm spac">
        <table class="table table-dark">
          <thead>
            <tr>
              <th class="con" scope="col">Confirmed</th>
              <th class="rec" scope="col">Recovered</th>
              <th class="dea" scope="col">Deaths</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="con">
                <div *ngIf="!confirmed">
                  <img
                    width="21px"
                    height="21px"
                    src="../assets/loading-spinner2.gif"
                  />
                </div>
                <div *ngIf="confirmed">
                  {{ confirmed }}
                </div>
              </td>
              <td class="rec">
                <div *ngIf="!recovered">
                  <img
                    width="21px"
                    height="21px"
                    src="../assets/loading-spinner2.gif"
                  />
                </div>
                <div *ngIf="recovered">
                  {{ recovered }}
                </div>
              </td>
              <td class="dea">
                <div *ngIf="!deaths">
                  <img
                    width="21px"
                    height="21px"
                    src="../assets/loading-spinner2.gif"
                  />
                </div>
                <div *ngIf="deaths">
                  {{ deaths }}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<div class="row">
  <div class="col-md-8 col-sm-12 pr-0 m-0">
    <section id="coronahelp-section">
      <h2 class="home-heading">Understand & Know COVID-19</h2>

      <div class="container">
        <div class="row">
          <div class="col-sm">
            <img src="../assets/9.jpg" alt="" height="250px" width="80%" />
          </div>
          <div class="col-sm">
            <div class="measure-head">What is COVID-19?<br /></div>
            <p style="text-align: justify; color: white">
              Coronavirus disease (COVID-19) is an infectious disease caused by
              a newly discovered coronavirus.
            </p>
            <p style="text-align: justify; color: white">
              Most common symptoms:<br />
              • fever<br />
              • dry cough<br />
              • tiredness
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm mt-3">
            <img src="../assets/11.jpg" alt="" height="250px" width="80%" />
          </div>
          <div class="col-sm">
            <div class="measure-head">Prevention<br /></div>
            <p style="text-align: justify; color: white">
              • Clean your hands often. Use soap and water, or an alcohol-based
              hand rub.<br />
              • Maintain social distancing<br />

              • Cover your nose and mouth with your bent elbow or a tissue when
              you cough or sneeze.<br />
              • Stay home if you feel unwell.<br />
              • If you have a fever, cough and difficulty breathing, seek
              medical attention. Call in advance.<br />
              • Follow the directions of your local health authority.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="container col-md-4 col-sm-12 p-0 m-0" style="border-radius: 10px">
    <iframe
      class="p-0 m-0"
      style="height: 100%; width: 100%"
      src="https://covid-bot-chkftjf4kmi4w.azurewebsites.net/"
    ></iframe>
  </div>
</div>

<!-- footer -->
<footer>
  <section id="footer-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="text-center">Made with &hearts; and India</p>
        </div>
      </div>
    </div>
  </section>
</footer>
